.navbarContainer {
  background: linear-gradient(to right, #80002a, #a50034);
  width: 260px;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  padding: 15px;

}
.togo {
  text-decoration: none;
  color: white;
}